@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <br />
    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
    <br />
    <br />
    <a href="https://baconsale.com/" target="_blank">Baconsale Site</a>
    <br />
    <br />
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/bacon.jpg" alt="Bacon Image" width="500" />
    </a>
</div>